.unit-row {
    border-bottom: 1px solid #f4f5f9;
}

.unit-row-top {
    border-top: 1px solid #1ca1c1;
}

.bg-Available{
    background-color: #55CD97;
    font-size: 11px;
}

.bg-Taken{
    background-color: #1CA1C1;
    font-size: 11px;
}

.bg-Deprecated{
    background-color: #94A1B3;
    font-size: 11px;
}

.bg-Broken{
    background-color: red;
    font-size: 11px;
}

