.chart-section{
    border-width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 699px;
    height: 300px;
    font-size: 14px;
}

.chart-image{
    width:1000px;
    margin: 35px;
    font-size: 14px;
}


