.integrity-layout{
    width: 697px;
    height: 508px;
    margin: 20px 0px;
    width: 80vw;
    font-size: 14px;
}
.integrity-template{
    box-sizing: border-box;
    padding: 4px 9pt 20px 15px;
}

.integrity-information{
    color: #248056;
    margin: 20px;
}

.integrity-information-archived{
    color: #FF5C4C;
    margin: 20px;
}

