.units-by-state-section{
    margin:10px 0px;
    width: 1150px;
    font-size: 14px;
}

.table-section{
    position: relative;
    border-width: 0px;
    margin-left: 4px;
    margin-top: 3px;
    width: 1150px;
    height: 425px;
    z-index: 0;
    overflow: hidden;
    background-color: white;
}

.units-text{
    margin: 10px 0px 10px 30px;
}

.reports-table-tbody {
    height: 545px;
    overflow-y: auto;
    width: 100%;
    
}

.reports-table-thead,
.reports-table-tbody,
.reports-table-tr,
.reports-table-td,
.reports-table-th {
    display: flex;font-size:14px;
    background-color: white;
}
.wrench-icon {
    margin-right: 1rem;
    color: grey;
}
.reports-table-tbody,
.reports-table-td {
    display: inline-block;
    background-color: white;
    
}

.reports-table-tbody,
.reports-table-th,
.reports-table-thead > tr > th {
    float: left;
    position: relative;
    background-color: #f4f5f9;
}

.table-header-unitsbystate {
    height: 43px;
    background: #f4f5f9;
    color: #313131;
    font-weight: 500;
    letter-spacing: .2px;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #5ccce7;
    width:100%;
}



.status-column{
    width:410px;
}

.serial-column{
    width: 185px;
}

.type-column{
    width: 185px;
}

.name-column{
    width: 185px;
}

.assigned-column{
    width: 185px;
}

